<!DOCTYPE html>
<html lang="en">
{% load static %}
<head>
    <meta charset="UTF-8">
    <title>About Us - santé</title>
    <link rel="stylesheet" href= "{% static 'patient_app/style.css' %}">
        
</head>
<body>
    <div class = "container">
    <nav>
        <a href="/"><img src="{% static 'patient_app/logo1.png' %}" class="logo" alt="Santé Logo"></a>
        <!-- Other navigation links can be added here if needed -->
    
    <ul>
        <li> <a href="/" >Home </a></li>
        <li> <a href="/about" >about </a></li>
        <li> <a href="/contact" >Contact Us</a></li>
    </ul>
</nav>
    <h1>Welcome to Santé!</h1>
    <br> <br>
    <p>Where we utilize the power of Artificial Intelligence to provide  
        answers to your medical questions.** 
    </p>
    <br> <br>
    <br> <br>

    <h1> <b>Mission </b></h1>
    <br><br>
    <p>
        At Santé, we are dedicated to providing a seamless experience between patients and healthcare providers. 
    </p>
    <p>
        It can sometimes be hard or embarassing to ask medical questions. Santé helps break the ice on healthcare. 
    </p>

    <br><br>
    <br><br>

    <p>
        **Santé is not a medical professional. Always refer to your doctor for health related information. For emergencies, please call emergency services
    </p>

    <!-- Your contact page content here -->
    </div>
</body>
</html>